{% extends 'base.html' %}
{% block body %}
<style>
    .sim{
        border-radius: 4px solid black;
    }
    .tech{
        border-radius: 4px solid black;
    }
</style>
<div class="sim mt-4">
    <h1>About this website:</h1>
    <p>
        Contemporary artists now can make a difference in the community and contemporary art field.
        This website encourages artists to join together from across the world. 
    </p>
    <p>On this website you can upload any type of artwork which will act as a painting or art gallery.
        You can create a blog about your paintings and can also promote your website, social media account here </p>

</div>
<div class="tech mt-4">
    <h2>Technology used for making this webiste:</h2>
    <p>This webiste is created by using Django.</p>
    <p>Django is a high-level Python web framework that encourages rapid development and clean, pragmatic design. Built by experienced developers, it takes care of much of the hassle of web development, so you can focus on writing your app without needing to reinvent the wheel. It’s free and open source.
    </p>
    <p>Django is fast, secure,scalable framework and easy to use</p>
</div>
{% endblock body %}